<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CRSAcquireMS</key>
	<integer>2000</integer>
	<key>CRSAlphaTargetDetectionTask</key>
	<true/>
	<key>CRSBehaviorWindowVisible</key>
	<true/>
	<key>CRSBehaviorWindowZoom</key>
	<integer>100</integer>
	<key>CRSBlockLimit</key>
	<integer>100</integer>
	<key>CRSBreakPunishMS</key>
	<integer>0</integer>
	<key>CRSCatchTrialPC</key>
	<real>5</real>
	<key>CRSCatchTrialMaxPC</key>
	<real>5</real>
	<key>CRSMapInterstimDurationMS</key>
	<integer>0</integer>
	<key>CRSMappingBlocks</key>
	<integer>5</integer>
	<key>CRSMapStimDurationMS</key>
	<integer>100</integer>
	<key>CRSMapStimContrastPC</key>
	<real>100</real>
	<key>CRSMapStimRadiusSigmaRatio</key>
	<real>3</real>
	<key>CRSStimTableCounts</key>
	<array>
		<dict>
			<key>row</key>
			<string>n</string>
			<key>azimuthCount</key>
			<integer>1</integer>
			<key>elevationCount</key>
			<integer>1</integer>
			<key>spatialFreqCount</key>
			<integer>7</integer>
			<key>sigmaCount</key>
			<integer>1</integer>
			<key>orientationCount</key>
			<integer>7</integer>
			<key>contrastCount</key>
			<integer>7</integer>
			<key>temporalFreqCount</key>
			<integer>1</integer>
			<key>spatialPhaseCount</key>
			<integer>7</integer>
			<key>radiusCount</key>
			<integer>7</integer>
			<key>azimuthCount0</key>
			<integer>1</integer>
			<key>elevationCount0</key>
			<integer>1</integer>
			<key>spatialFreqCount0</key>
			<integer>7</integer>
			<key>sigmaCount0</key>
			<integer>1</integer>
			<key>orientationCount0</key>
			<integer>7</integer>
			<key>contrastCount0</key>
			<integer>7</integer>
			<key>temporalFreqCount0</key>
			<integer>1</integer>
			<key>spatialPhaseCount0</key>
			<integer>7</integer>
			<key>radiusCount0</key>
			<integer>7</integer>
			<key>azimuthCount1</key>
			<integer>1</integer>
			<key>elevationCount1</key>
			<integer>1</integer>
			<key>spatialFreqCount1</key>
			<integer>7</integer>
			<key>sigmaCount1</key>
			<integer>1</integer>
			<key>orientationCount1</key>
			<integer>7</integer>
			<key>contrastCount1</key>
			<integer>7</integer>
			<key>temporalFreqCount1</key>
			<integer>1</integer>
			<key>spatialPhaseCount1</key>
			<integer>7</integer>
			<key>radiusCount1</key>
			<integer>7</integer>
			<key>azimuthCount2</key>
			<integer>1</integer>
			<key>elevationCount2</key>
			<integer>1</integer>
			<key>spatialFreqCount2</key>
			<integer>7</integer>
			<key>sigmaCount2</key>
			<integer>1</integer>
			<key>orientationCount2</key>
			<integer>7</integer>
			<key>contrastCount2</key>
			<integer>7</integer>
			<key>temporalFreqCount2</key>
			<integer>1</integer>
			<key>spatialPhaseCount2</key>
			<integer>7</integer>
			<key>radiusCount2</key>
			<integer>7</integer>
		</dict>
	</array>
	<key>CRSStimTables</key>
	<array>
		<dict>
			<key>row</key>
			<string>min</string>
			<key>azimuthDeg0</key>
			<real>2</real>
			<key>elevationDeg0</key>
			<real>2</real>
			<key>spatialFreqCPD0</key>
			<real>0.5</real>
			<key>sigmaDeg0</key>
			<real>0.2</real>
			<key>orientationDeg0</key>
			<real>0</real>
			<key>contrastPC0</key>
			<integer>0</integer>
			<key>temporalFreqHz0</key>
			<integer>0</integer>
			<key>spatialPhaseDeg0</key>
			<integer>0</integer>
			<key>radiusDeg0</key>
			<integer>8</integer>
			<key>azimuthDeg1</key>
			<real>5</real>
			<key>elevationDeg1</key>
			<real>5</real>
			<key>spatialFreqCPD1</key>
			<real>0.5</real>
			<key>sigmaDeg1</key>
			<real>0.2</real>
			<key>orientationDeg1</key>
			<real>0</real>
			<key>contrastPC1</key>
			<integer>0</integer>
			<key>temporalFreqHz1</key>
			<integer>0</integer>
			<key>spatialPhaseDeg1</key>
			<integer>0</integer>
			<key>radiusDeg1</key>
			<real>0.3</real>
			<key>azimuthDeg2</key>
			<integer>5</integer>
			<key>elevationDeg2</key>
			<integer>5</integer>
			<key>spatialFreqCPD2</key>
			<real>0.5</real>
			<key>sigmaDeg2</key>
			<real>0.2</real>
			<key>orientationDeg2</key>
			<integer>0</integer>
			<key>contrastPC2</key>
			<integer>0</integer>
			<key>temporalFreqHz2</key>
			<integer>0</integer>
			<key>spatialPhaseDeg2</key>
			<integer>0</integer>
			<key>radiusDeg2</key>
			<real>0.3</real>
		</dict>
		<dict>
			<key>row</key>
			<string>max</string>
			<key>azimuthDeg0</key>
			<real>2</real>
			<key>elevationDeg0</key>
			<real>2</real>
			<key>spatialFreqCPD0</key>
			<real>8</real>
			<key>sigmaDeg0</key>
			<real>0.2</real>
			<key>orientationDeg0</key>
			<real>180</real>
			<key>contrastPC0</key>
			<integer>100</integer>
			<key>temporalFreqHz0</key>
			<integer>0</integer>
			<key>spatialPhaseDeg0</key>
			<integer>90</integer>
			<key>radiusDeg0</key>
			<integer>8</integer>
			<key>azimuthDeg1</key>
			<real>5</real>
			<key>elevationDeg1</key>
			<real>5</real>
			<key>spatialFreqCPD1</key>
			<real>8</real>
			<key>sigmaDeg1</key>
			<real>0.2</real>
			<key>orientationDeg1</key>
			<real>180</real>
			<key>contrastPC1</key>
			<integer>100</integer>
			<key>temporalFreqHz1</key>
			<integer>0</integer>
			<key>spatialPhaseDeg1</key>
			<integer>90</integer>
			<key>radiusDeg1</key>
			<integer>8</integer>
			<key>azimuthDeg2</key>
			<integer>5</integer>
			<key>elevationDeg2</key>
			<integer>5</integer>
			<key>spatialFreqCPD2</key>
			<integer>8</integer>
			<key>sigmaDeg2</key>
			<real>0.2</real>
			<key>orientationDeg2</key>
			<integer>180</integer>
			<key>contrastPC2</key>
			<integer>100</integer>
			<key>temporalFreqHz2</key>
			<integer>0</integer>
			<key>spatialPhaseDeg2</key>
			<integer>0</integer>
			<key>radiusDeg2</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>CRSChangeArray</key>
	<array>
		<dict>
			<key>change</key>
			<integer>2</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>4</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>6</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>8</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>10</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>12</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>14</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>16</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>18</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>20</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>22</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>24</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>CRSChangeRemain</key>
	<true/>
	<key>CRSChangeScale</key>
	<integer>0</integer>
	<key>CRSContrastFactor</key>
	<real>0.5</real>
	<key>CRSContrast</key>
	<integer>100</integer>
	<key>CRSContrasts</key>
	<integer>8</integer>
	<key>CRSConvertToGrating</key>
	<false/>
	<key>CRSConvertToColor</key>
	<false/>
	<key>CRSUseSingleITC18</key>
	<true/>
	<key>CRSCueMS</key>
	<integer>250</integer>
	<key>CRSEyeToUse</key>
	<integer>0</integer>
	<key>CRSOrientationChanges</key>
	<integer>8</integer>
	<key>CRSDoSounds</key>
	<true/>
	<key>CRSEyeXYDoGrid</key>
	<true/>
	<key>CRSEyeXYDoTicks</key>
	<integer>1</integer>
	<key>CRSEyeXYSamplesSaved</key>
	<integer>200</integer>
	<key>CRSEyeXYDotSizeDeg</key>
	<real>0.02</real>
	<key>CRSEyeXYDrawCal</key>
	<true/>
	<key>CRSEyeXYGridDeg</key>
	<real>5</real>
	<key>CRSEyeXYHScroll</key>
	<integer>3500</integer>
	<key>CRSEyeXYMag</key>
	<real>30</real>
	<key>CRSEyeXYOneInN</key>
	<integer>1</integer>
	<key>CRSEyeXYTickDeg</key>
	<real>1</real>
	<key>CRSEyeXYVScroll</key>
	<integer>3500</integer>
	<key>CRSEyeXYWindowVisible</key>
	<true/>
	<key>CRSEyeXYFadeDots</key>
	<true/>
	<key>CRSFixGraceMS</key>
	<integer>0</integer>
	<key>CRSFixWindowWidthDeg</key>
	<real>1</real>
	<key>CRSFixate</key>
	<true/>
	<key>CRSFixateOnly</key>
	<false/>
	<key>CRSFixateMS</key>
	<integer>0</integer>
	<key>CRSFixJitterPC</key>
	<integer>0</integer>
	<key>CRSHideCentre</key>
	<false/>
	<key>CRSHideCentreDigital</key>
	<false/>
	<key>CRSHideRing</key>
	<false/>
	<key>CRSHideRingDigital</key>
	<false/>
	<key>CRSHideSurround</key>
	<false/>
	<key>CRSHideSurroundDigital</key>
	<false/>
	<key>CRSHideTaskGaborKey</key>
	<false/>
	<key>CRSIncludeCatchTrialsinDoneList</key>
	<false/>
	<key>CRSInstructionTrials</key>
	<integer>1</integer>
	<key>CRSIntertrialMS</key>
	<integer>1500</integer>
	<key>CRSInterstimJitterPC</key>
	<integer>50</integer>
	<key>CRSInterstimMS</key>
	<integer>250</integer>
	<key>CRSInvalidRewardFactor</key>
	<real>1</real>
	<key>CRSKdlPhiDeg</key>
	<real>180</real>
	<key>CRSKdlThetaDeg</key>
	<real>90</real>
	<key>CRSMapTemporalModulation</key>
	<integer>1</integer>
	<key>CRSMapRadiusMappingCentre</key>
	<integer>0</integer>
	<key>CRSMapRadiusMappingRing</key>
	<integer>0</integer>
	<key>CRSMapRadiusMappingSurround</key>
	<integer>0</integer>
	<key>CRSMapContrastMappingCentre</key>
	<integer>0</integer>
	<key>CRSMapContrastMappingRing</key>
	<integer>0</integer>
	<key>CRSMapContrastMappingSurround</key>
	<integer>0</integer>
	<key>CRSMapSFMappingCentre</key>
	<integer>0</integer>
	<key>CRSMapSFMappingRing</key>
	<integer>0</integer>
	<key>CRSMapSFMappingSurround</key>
	<integer>0</integer>
	<key>CRSMapTFMappingCentre</key>
	<integer>0</integer>
	<key>CRSMapTFMappingRing</key>
	<integer>0</integer>
	<key>CRSMapTFMappingSurround</key>
	<integer>0</integer>
	<key>CRSMaxContrast</key>
	<integer>100</integer>
	<key>CRSMinTargetMS</key>
	<integer>200</integer>
	<key>CRSMaxTargetMS</key>
	<integer>5000</integer>
	<key>CRSMeanTargetMS</key>
	<integer>2500</integer>
	<key>CRSNumInstructTrials</key>
	<integer>2</integer>
	<key>CRSPrecueMS</key>
	<integer>250</integer>
	<key>CRSRandTaskGaborDirection</key>
	<false/>
	<key>CRSReactMS</key>
	<integer>750</integer>
	<key>CRSRelDistractorProb</key>
	<real>1</real>
	<key>CRSRespTimeMS</key>
	<integer>500</integer>
	<key>CRSRespSpotSizeDeg</key>
	<real>0.25</real>
	<key>CRSRespWindowWidthDeg</key>
	<real>2</real>
	<key>CRSRewardMS</key>
	<integer>100</integer>
	<key>CRSMinRewardMS</key>
	<integer>100</integer>
	<key>CRSRewardSchedule</key>
	<integer>0</integer>
	<key>CRSRadiusDeg</key>
	<real>8</real>
	<key>CRSSaccadeTimeMS</key>
	<integer>200</integer>
	<key>CRSSeparationDeg</key>
	<real>2.5</real>
	<key>CRSSigmaDeg</key>
	<real>0.25</real>
	<key>CRSSpatialFreqCPD</key>
	<real>4</real>
	<key>CRSSpatialModulationType</key>
	<integer>1</integer>
	<key>CRSSpatialPhaseDeg</key>
	<real>90</real>
	<key>CRSSpikeWindowVisible</key>
	<true/>
	<key>CRSSpikeWindowZoom</key>
	<integer>100</integer>
	<key>CRSStimDurationMS</key>
	<integer>250</integer>
	<key>CRSStimDistribution</key>
	<integer>0</integer>
	<key>CRSStimJitterPC</key>
	<integer>0</integer>
	<key>CRSSummaryWindowBrokeCount</key>
	<integer>0</integer>
	<key>CRSSummaryWindowComputerCount</key>
	<integer>0</integer>
	<key>CRSSummaryWindowCorrectCount</key>
	<integer>0</integer>
	<key>CRSSummaryWindowDateCount</key>
	<integer>0</integer>
	<key>CRSSummaryWindowIgnoredCount</key>
	<integer>0</integer>
	<key>CRSSummaryWindowTotalCount</key>
	<integer>0</integer>
	<key>CRSSummaryWindowFailedCount</key>
	<integer>0</integer>
	<key>CRSSummaryWindowVisible</key>
	<true/>
	<key>CRSSummaryWindowWrongCount</key>
	<integer>0</integer>
	<key>CRSSummaryWindowZoom</key>
	<integer>100</integer>
	<key>CRSTargetAlpha</key>
	<integer>0</integer>
	<key>CRSTargetRadius</key>
	<integer>0</integer>
	<key>CRSContrastPC</key>
	<real>100</real>
	<key>CRSMaxDirChangeDeg</key>
	<real>90</real>
	<key>CRSMinDirChangeDeg</key>
	<real>5</real>
	<key>CRSTaskStatus</key>
	<integer>0</integer>
	<key>CRSTemporalFreqHz</key>
	<real>0</real>
	<key>CRSTemporalModulationParam</key>
	<integer>1</integer>
	<key>CRSTemporalModulationType</key>
	<integer>1</integer>
	<key>CRSTemporalPhaseDeg</key>
	<integer>0</integer>
	<key>CRSTooFastMS</key>
	<integer>100</integer>
	<key>CRSTrialWindowVisible</key>
	<true/>
	<key>CRSTrialWindowZoom</key>
	<integer>100</integer>
	<key>CRSStimRepsPerBlock</key>
	<integer>16</integer>
	<key>CRSTries</key>
	<integer>1</integer>
	<key>CRSMatchCentreSurround</key>
	<false/>
	<key>CRSMatchCentreRing</key>
	<false/>
	<key>CRSFixImage</key>
	<false/>
	<key>CRSMatchRingSurround</key>
	<false/>
	<key>CRSProtocolNumber</key>
	<integer>0</integer>
	<key>CRSEyeFilterWeight</key>
	<real>0.5</real>
</dict>
</plist>
